<!doctype html>
<html>
<head>
<title>iRemoconWiFi -- 番町梅屋敷</title>
<link rel=stylesheet type="text/css" href="static/iremocon.css" />
<script type="text/javascript" src="static/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="static/auto_update.js"></script>
<script type="text/javascript" src="static/copy_timer.js"></script>
</head>
<body>
<h1>iRemoconWiFi -- 番町梅屋敷</h1>
<div class="sensors_info">
    <h2>Information from Sensors</h2>
    <table>
        <tbody>
            <tr><th>illuminance:</th><td id="illuminance">{{ sensors_info['illuminance'] }}</td></tr>
            <tr><th>humidity:</th><td id="humidity">{{ sensors_info['humidity'] }}</td></tr>
            <tr><th>temperature:</th><td id="temperature">{{ sensors_info['temperature'] }}</td></tr>
        </tbody>
    </table>
</div>
<div class="timers_list">
    <h2>List of Timers</h2>
    <table>
        <thead>
		<tr><th>Seq</th><th>Remocon-code</th><th>time</th><th>copy</th><th>cancel</th></tr>
        </thead>
        <tbody>{% for timer in timers[0] %}
            <form method="POST" action="api/cancel_timer">
                <tr>
                    <td class="seq">{{ timer['seq'] }}</td>
                    <td class="code">{{ timer['code'] }}</td>
                    <td class="time">{{ timer['time'] }}</td>
                    <td>
                        <input type="button" name="copy_timer" value="Copy">
                    </td>
                    <td>
                        <input type="hidden" name="timer_number" value="{{ timer['seq'] }}">
                        <input type="submit" name="cancel_timer" value="Cancel">
                    </td>
                </tr>
            </form>
        {% endfor %}</tbody>
    </table>
    <p>{{ timers[1] }}</p>
    <form id="timer_form" method="POST" action="api/add_timer">
        <p>Date: <select name="date">{% for date_choice in date_list %}
            <option value="{{ date_choice }}">{{ date_choice }}</option>
        {% endfor %}</select></p>
        <p>Time: <select name="hour">{% for hours_choice in hours_list %}
            <option value="{{ hours_choice }}">{{ hours_choice }}</option>
        {% endfor %}</select>:<select name="minute">{% for minutes_choice in minutes_list %}
            <option value="{{ minutes_choice }}">{{ minutes_choice }}</option>
        {% endfor %}</select></p>
        <p>Button: <select name="Button">{% for button_choice in buttons_list %}
            <option value="{{ button_choice['code'] }}">{{ button_choice['button'] }}</option>
        {% endfor %}</select></p>
        <input type="submit" name="add_timer" value="Add">
    </form>
</div>
<footer><div class="version"><p>{{ firmware_version }}</p></div></footer>
</body>
